
/*
Используемые цвета:
Черный: #1c1e21;
Серый: #282a2e;
Светло-серый: #d2d2d3;
Фиолетовый: #7156f3;
*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf');
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out;
}

body {
}

body, html {
  margin: 0;
  padding: 0;
}

.sendForm__wrapper {
  width: 100%;

  background: #7156f3;

  padding: 50px 10px;

  font-family: 'OpenSansRegular', sans-serif;

  box-sizing: border-box;
}

.sendForm__wrapper>h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 0;

}

.sendForm__wrapper>p {
  width: 350px;

  margin: 0 auto 10px auto;

  text-align: center;
  color: #fff;
}

.sendForm {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -ms-align-items: center;
  align-items: center;

  width: 540px;
  max-width: 100%;

  margin: 30px auto;
  padding: 70px 0;

  background: #1c1e21;
  border-radius: 5px;

  box-sizing: border-box;
}

.sendForm>* {
  margin: auto;
}

.sendForm>p {
  max-width: 400px;
  font-family: 'OpenSansRegular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  font-size: 21px;
  color: #fff;
}

.sendForm>.sendForm__icon {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;

  padding: 0 5px;
  margin-bottom: 25px;
}

.sendForm>.sendForm__icon>input {
  width: 400px;
  max-width: 100%;

  font-family: 'OpenSansRegular', sans-serif;
  font-size: 18px;
  color: #fff;

  background: transparent;
  border: 1px solid #282a2e;
  border-radius: 5px;

  padding: 15px 15px 15px 55px;

  box-sizing: border-box;
}

.sendForm>.sendForm__icon>.icon_face {
  background: url("../icons/face.png");
}

.sendForm>.sendForm__icon>.icon_telephone {
  background: url("../icons/telephone.png");
}

.sendForm>.sendForm__icon>.icon_room {
  background: url("../icons/room.png");
}

.sendForm>.sendForm__icon>.icon {
    width: 35px;
    height: 35px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 15px;
}

.sendForm>input[type="submit"] {
  width: 270px;
  max-width: calc(100% - 10px);
  height: 65px;

  font-family: 'OpenSansRegular', sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;

  background: #7156f3;
  border-radius: 50px;
  border: 3px solid transparent;

  cursor: pointer;

  transition: .5s ease-in-out;
}

.sendForm>input[type="submit"]:hover {
  background: transparent;
  color: #7156f3;
  border: 3px solid #7156f3;
}

.portfolio__wrapper {
  width: 100%;

  padding: 50px 10px;

  background: #fff;

  box-sizing: border-box;

  -webkit-box-shadow: inset 0px 9px 9px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 9px 9px -5px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 9px 9px -5px rgba(50, 50, 50, 0.75);
}

.portfolio__wrapper>h2 {
  font-size: 32px;
  font-family: 'OpenSansRegular', sans-serif;
  text-align: center;

  margin-bottom: 25px;
}

.portfolio {
  width: 900px;
  max-width: 100%;

  margin: auto;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -ms-align-items: center;
  align-items: center;

  justify-content: center;

  flex-wrap: wrap;
}

.portfolio>.img1 {
  width: 280px;
  height: 280px;
  flex-grow: 1px;
  background: url("../images/img1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio>.img2 {
  width: 280px;
  height: 280px;
  flex-grow: 1px;
  background: url("../images/img2.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio>.img3 {
  width: 280px;
  height: 280px;
  flex-grow: 1px;
  background: url("../images/img3.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio>.img4 {
  width: 430px;
  height: 725px;
  background: url("../images/img4.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio>.img5 {
  width: 430px;
  height: 725px;
  background: url("../images/img5.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

.portfolio__img {
  margin: 10px;
}

footer {
  width: 100%;
  height: 65px;

  background: #7156f3;

  padding: 10px 0;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -ms-align-items: center;
  align-items: center;

  justify-content: center;

  box-sizing: border-box;
}

footer>* {
  font-family: 'OpenSansRegular', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 21px;
}

@media screen and (max-width: 950px) {
  .portfolio>.img1 {
    width: 435px;
    height: 435px;
  }

  .portfolio>.img2 {
    width: 435px;
    height: 435px;
  }

  .portfolio>.img3 {
    width: 435px;
    height: 435px;
  }

  .portfolio>.img4 {
    width: 435px;
    height: 725px;
  }

  .portfolio>.img5 {
    width: 435px;
    height: 725px;
  }

}
@media screen and (max-width: 480px) {
  .portfolio>.img1 {
    width: 100%;
    height: 400px;
  }

  .portfolio>.img2 {
    width: 100%;
    height: 400px;
  }

  .portfolio>.img3 {
    width: 100%;
    height: 400px;
  }

  .portfolio>.img4 {
    width: 100%;
    height: 700px;
  }

  .portfolio>.img5 {
    width: 100%;
    height: 700px;
  }

}
